/* mode: dark */
/*

    Name:       3024 night
    Author:     Jan T. Sott (http://github.com/idleberg)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-codemirror)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

& {
    background: #090300;
    color: #d6d5d4;
}
div.cm-selected {
    background: #3a3432;
}
.cm-line::selection,
.cm-line > span::selection,
.cm-line > span > span::selection {
    background: rgb(58 52 50 / 99%);
}
.cm-line::selection,
.cm-line > span::selection,
.cm-line > span > span::selection {
    background: rgb(58 52 50 / 99%);
}
.cm-gutters {
    background: #090300;
    border-right: 0;
}
.cm-gutterElement span {
    color: #db2d20;
}

.cm-linenumber {
    color: #5c5855;
}

.cm-cursor {
    border-left: 1px solid #807d7c;
}

.cm-comment {
    color: #cdab53;
}
.cm-atom {
    color: #a16a94;
}
.cm-number {
    color: #a16a94;
}

.cm-property,
.cm-attribute {
    color: #01a252;
}
.cm-keyword {
    color: #db2d20;
}
.cm-string {
    color: #fded02;
}

.cm-variable {
    color: #01a252;
}
.cm-variable-2 {
    color: #01a0e4;
}
.cm-def {
    color: #e8bbd0;
}
.cm-bracket {
    color: #d6d5d4;
}
.cm-tag {
    color: #db2d20;
}
.cm-link {
    color: #a16a94;
}
.cm-error {
    background: #db2d20;
    color: #807d7c;
}

.cm-activeLine {
    background: #2f2f2f;
}
.cm-matchingbracket {
    text-decoration: underline;
    color: white !important;
}
