/*

    Name:       Base16 Default Light
    Author:     Chris Kempson (http://chriskempson.com)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-codemirror)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

& {
    background: #f5f5f5;
    color: #202020;
}
.cm-selectionBackground  {
    background: #e0e0e0 !important;
}
&.cm-focused .cm-selectionBackground{
    background: #e0e0e0 !important;
}
.cm-gutters {
    background: #f5f5f5;
    border-right: 0;
}
.cm-gutterElement span {
    color: #ac4142;
}

.cm-linenumber {
    color: #b0b0b0;
}
.cm-cursor {
    border-left: 1px solid #505050;
}

.cm-comment {
    color: #8f5536;
}
.cm-atom {
    color: #aa759f;
}
.cm-number {
    color: #aa759f;
}

.cm-property,
.cm-attribute {
    color: #90a959;
}
.cm-keyword {
    color: #ac4142;
}
.cm-string {
    color: #f4bf75;
}

.cm-variable {
    color: #90a959;
}
.cm-variable-2 {
    color: #6a9fb5;
}
.cm-def {
    color: #d28445;
}
.cm-bracket {
    color: #202020;
}
.cm-tag {
    color: #ac4142;
}
.cm-link {
    color: #aa759f;
}
.cm-error {
    background: #ac4142;
    color: #505050;
}

.cm-activeLine {
    background: #dddcdc;
}
.cm-matchingbracket {
    color: #f5f5f5 !important;
    background-color: #6a9fb5 !important;
}
