/* mode: dark */
/* Port of TextMate's Blackboard theme */

& {
    background: #0c1021;
    color: #f8f8f8;
}
.cm-selectionBackground  {
    background: #253b76 !important;
}
.cm-focused .cm-selectionBackground{
    background: rgb(37 59 118 / 99%) !important;
}
.cm-gutters {
    background: #0c1021;
    border-right: 0;
}
.cm-gutterElement span {
    color: #fbde2d;
}

.cm-linenumber {
    color: #888;
}
.cm-cursor {
    border-left: 1px solid #a7a7a7;
}

.cm-keyword {
    color: #fbde2d;
}
.cm-atom {
    color: #d8fa3c;
}
.cm-number {
    color: #d8fa3c;
}
.cm-def {
    color: #8da6ce;
}
.cm-variable {
    color: #ff6400;
}
.cm-operator {
    color: #fbde2d;
}
.cm-comment {
    color: #aeaeae;
}
.cm-string {
    color: #61ce3c;
}
.cm-string-2 {
    color: #61ce3c;
}
.cm-meta {
    color: #d8fa3c;
}
.cm-builtin {
    color: #8da6ce;
}
.cm-tag {
    color: #8da6ce;
}
.cm-attribute {
    color: #8da6ce;
}
.cm-header {
    color: #ff6400;
}
.cm-hr {
    color: #aeaeae;
}
.cm-link {
    color: #8da6ce;
}
.cm-error {
    background: #9d1e15;
    color: #f8f8f8;
}

.cm-activeLine {
    background: #3c3636;
}
.cm-matchingbracket {
    outline: 1px solid grey;
    color: white !important;
}
