/* mode: dark */
/**
    Name: IntelliJ IDEA darcula theme
    From IntelliJ IDEA by JetBrains
 */

& {
    background: #2b2b2b;
    color: #a9b7c6;
    font-family:
        Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono",
        "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New",
        monospace, serif;
}

.cm-meta {
    color: #bbb529;
}
.cm-number {
    color: #6897bb;
}
.cm-keyword {
    color: #cc7832;
    line-height: 1em;
    font-weight: bold;
}
.cm-def {
    color: #a9b7c6;
    font-style: italic;
}
.cm-variable {
    color: #a9b7c6;
}
.cm-variable-2 {
    color: #a9b7c6;
}
.cm-variable-3 {
    color: #9876aa;
}
.cm-type {
    color: #abc;
    font-weight: bold;
}
.cm-property {
    color: #ffc66d;
}
.cm-operator {
    color: #a9b7c6;
}
.cm-string {
    color: #6a8759;
}
.cm-string-2 {
    color: #6a8759;
}
.cm-comment {
    color: #61a151;
    font-style: italic;
}
.cm-link {
    color: #cc7832;
}
.cm-atom {
    color: #cc7832;
}
.cm-error {
    color: #bc3f3c;
}
.cm-tag {
    color: #629755;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}
.cm-attribute {
    color: #6897bb;
}
.cm-qualifier {
    color: #6a8759;
}
.cm-bracket {
    color: #a9b7c6;
}
.cm-builtin {
    color: #ff9e59;
}
.cm-special {
    color: #ff9e59;
}
.cm-matchhighlight {
    color: #fff;
    background-color: rgb(50 89 48 / 70%);
    font-weight: normal;
}
.cm-searching {
    color: #fff;
    background-color: rgb(61 115 59 / 70%);
    font-weight: normal;
}

.cm-cursor {
    border-left: 1px solid #a9b7c6;
}
.cm-activeLine {
    background: #323232;
}
.cm-gutters {
    background: #313335;
    border-right: 1px solid #313335;
}
.cm-gutterElement span {
    color: #ffee80;
}

.CodeMirrir-linenumber {
    color: #606366;
}
.cm-matchingbracket {
    background-color: #3b514d;
    color: #ffef28 !important;
    font-weight: bold;
}

div.cm-selected {
    background: #214283;
}

.cm-hints.darcula {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    color: #9c9e9e;
    background-color: #3b3e3f !important;
}

.cm-hints.darcula .cm-hint-active {
    background-color: #494d4e !important;
    color: #9c9e9e !important;
}
