/* mode: dark */
& {
    background: #002240;
    color: white;
}
.cm-selectionBackground  {
    background: #b36539 !important;
}
&.cm-focused .cm-selectionBackground{
    background: rgb(179 101 57 / 99%) !important;
}
.cm-gutters {
    background: #002240;
    border-right: 1px solid #aaa;
}
.cm-gutterElement span {
    color: white;
}

.cm-linenumber {
    color: #d0d0d0;
}
.cm-cursor {
    border-left: 1px solid white;
}

.cm-quote {
    color: #ccc;
}
.cm-atom {
    color: #f133f1;
}
.cm-attribute {
    color: #ff80e1;
}
.cm-bracket {
    color: #ff9d00;
}
.cm-builtin {
    color: #eaa;
}
.cm-comment {
    color: #77f;
}
.cm-def {
    color: #e7a;
}
.cm-keyword {
    color: #ffee80;
}
.cm-meta {
    color: #50fefe;
}
.cm-number {
    color: #ffd0d0;
}
.cm-operator {
    color: #d55;
}
.cm-property {
    color: #ccc;
}
.cm-qualifier {
    color: #ccc;
}
.cm-special {
    color: #fbb;
}
.cm-string {
    color: #3ad900;
}
.cm-string-2 {
    color: #ccc;
}
.cm-tag {
    color: #9effff;
}
.cm-variable {
    color: #50fe50;
}
.cm-variable-2 {
    color: #e0e;
}
.cm-variable-3,
.cm-type {
    color: #ccc;
}
.cm-error {
    color: #9d1e15;
}

.cm-activeLine {
    background: #013461;
}
.cm-matchingbracket {
    outline: 1px solid grey;
    color: white !important;
}
