/* mode: dark */
/*

    Name:       Hopscotch
    Author:     Jan T. Sott

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-codemirror)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

& {
    background: #322931;
    color: #d5d3d5;
}
.cm-selectionBackground, .cm-focused .cm-selectionBackground {
    background: #433b42 !important;
}
.cm-gutters {
    background: #322931;
    border-right: 0;
}
.cm-linenumber {
    color: #797379;
}
.cm-cursor {
    border-left: 1px solid #989498 !important;
}

.cm-comment {
    color: #b33508;
}
.cm-atom {
    color: #c85e7c;
}
.cm-number {
    color: #c85e7c;
}

.cm-property,
.cm-attribute {
    color: #8fc13e;
}
.cm-keyword {
    color: #dd464c;
}
.cm-string {
    color: #fdcc59;
}

.cm-variable {
    color: #8fc13e;
}
.cm-variable-2 {
    color: #1290bf;
}
.cm-def {
    color: #fd8b19;
}
.cm-error {
    background: #dd464c;
    color: #989498;
}
.cm-bracket {
    color: #d5d3d5;
}
.cm-tag {
    color: #dd464c;
}
.cm-link {
    color: #c85e7c;
}

.cm-matchingbracket {
    text-decoration: underline;
    color: white !important;
}
.cm-activeLine {
    background: #302020;
}
