/**
    Name:       IDEA default theme
    From IntelliJ IDEA by JetBrains
 */
& {
    font-family:
        Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono",
        "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New",
        monospace, serif;
}

.cm-meta {
    color: #808000;
}
.cm-number {
    color: #00f;
}
.cm-keyword {
    line-height: 1em;
    font-weight: bold;
    color: #000080;
}
.cm-atom {
    font-weight: bold;
    color: #000080;
}
.cm-def {
    color: #000;
}
.cm-variable {
    color: black;
}
.cm-variable-2 {
    color: black;
}
.cm-variable-3,
.cm-type {
    color: black;
}
.cm-property {
    color: black;
}
.cm-operator {
    color: black;
}
.cm-comment {
    color: #808080;
}
.cm-string {
    color: #008000;
}
.cm-string-2 {
    color: #008000;
}
.cm-qualifier {
    color: #555;
}
.cm-error {
    color: #f00;
}
.cm-attribute {
    color: #00f;
}
.cm-tag {
    color: #000080;
}
.cm-link {
    color: #00f;
}
.cm-activeLine {
    background: #fffae3;
}

.cm-builtin {
    color: #30a;
}
.cm-bracket {
    color: #cc7;
}

.cm-matchingbracket {
    outline: 1px solid grey;
    color: black !important;
}

.cm-hints.idea {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    color: #616569;
    background-color: #ebf3fd !important;
}

.cm-hints.idea .cm-hint-active {
    background-color: #a2b8c9 !important;
    color: #5c6065 !important;
}
