/*

    Name:       Isotope
    Author:     David Desandro / Jan T. Sott

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-codemirror)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

& {
    background: #000;
    color: #e0e0e0;
}
div.cm-selected {
    background: #404040 !important;
}
.cm-gutters {
    background: #000;
    border-right: 0;
}
.cm-linenumber {
    color: #808080;
}
.cm-cursor {
    border-left: 1px solid #c0c0c0 !important;
}

.cm-comment {
    color: #30f;
}
.cm-atom {
    color: #c0f;
}
.cm-number {
    color: #c0f;
}

.cm-property,
.cm-attribute {
    color: #3f0;
}
.cm-keyword {
    color: #f00;
}
.cm-string {
    color: #f09;
}

.cm-variable {
    color: #3f0;
}
.cm-variable-2 {
    color: #06f;
}
.cm-def {
    color: #f90;
}
.cm-error {
    background: #f00;
    color: #c0c0c0;
}
.cm-bracket {
    color: #e0e0e0;
}
.cm-tag {
    color: #f00;
}
.cm-link {
    color: #c0f;
}

.cm-matchingbracket {
    text-decoration: underline;
    color: white !important;
}
.cm-activeLine {
    background: #202020;
}
