/* mode: dark */
& {
    background-color: #000;
    color: #fff;
    line-height: 1.2em;
    font-size: 1em;
}

.cm-focused .cm-matchhighlight {
    text-decoration: underline;
    text-decoration-color: #0f0;
    text-decoration-style: wavy;
}

.cm-trailingspace {
    text-decoration: line-through;
    text-decoration-color: #f00;
    text-decoration-style: dotted;
}

.cm-tab {
    text-decoration: line-through;
    text-decoration-color: #404040;
    text-decoration-style: dotted;
}
.cm-gutters {
    background-color: #262626;
    border-right: 1px solid #505050;
    padding-right: 0.8em;
}
.cm-gutter-elt div {
    font-size: 1.2em;
}
.cm-gutterElement span {
}

.cm-linenumber {
    color: #606060;
    padding-left: 0;
}
.cm-cursor {
    border-left: 1px solid #eee;
}

.cm-comment {
    color: #008000;
}
.cm-def {
    color: #ffaf40;
    font-weight: bold;
}
.cm-keyword {
    color: #c080ff;
    font-weight: bold;
}
.cm-builtin {
    color: #ffaf40;
    font-weight: bold;
}
.cm-variable {
    color: #5967ff;
    font-weight: bold;
}
.cm-string {
    color: #ff8000;
}
.cm-number {
    color: #0f0;
    font-weight: bold;
}
.cm-atom {
    color: #bf3030;
    font-weight: bold;
}

.cm-variable-2 {
    color: #007f7f;
    font-weight: bold;
}
.cm-variable-3,
.cm-type {
    color: #c080ff;
    font-weight: bold;
}
.cm-property {
    color: #999;
    font-weight: bold;
}
.cm-operator {
    color: #fff;
}

.cm-meta {
    color: #0f0;
}
.cm-qualifier {
    color: #fff700;
    font-weight: bold;
}
.cm-bracket {
    color: #cc7;
}
.cm-tag {
    color: #ff0;
    font-weight: bold;
}
.cm-attribute {
    color: #c080ff;
    font-weight: bold;
}
.cm-error {
    color: #f00;
}

div.cm-selected {
    background-color: rgb(255 0 0 / 25%);
}

.cm-compilation {
    background-color: rgb(255 255 255 / 12%);
}

.cm-activeLine {
    background-color: rgb(0 255 0 / 15%);
}

/* Default styles for common addons */
& .cm-matchingbracket {
    color: #0f0;
    font-weight: bold;
}
& .cm-nonmatchingbracket {
    color: #f00;
    font-weight: bold;
}
.cm-matchingtag {
    background-color: rgb(150 255 0 / 30%);
}

/* Scrollbars */

/* Simple */
div.cm-simplescroll-horizontal div:hover,
div.cm-simplescroll-vertical div:hover {
    background-color: rgb(80 80 80 / 70%);
}

div.cm-simplescroll-horizontal div,
div.cm-simplescroll-vertical div {
    background-color: rgb(80 80 80 / 30%);
    border: 1px solid #404040;
    border-radius: 5px;
}

div.cm-simplescroll-vertical div {
    border-top: 1px solid #404040;
    border-bottom: 1px solid #404040;
}

div.cm-simplescroll-horizontal div {
    border-left: 1px solid #404040;
    border-right: 1px solid #404040;
}

div.cm-simplescroll-vertical {
    background-color: #262626;
}

div.cm-simplescroll-horizontal {
    background-color: #262626;
    border-top: 1px solid #404040;
}

/* Overlay */
div.cm-overlayscroll-horizontal div,
div.cm-overlayscroll-vertical div {
    background-color: #404040;
    border-radius: 5px;
}

div.cm-overlayscroll-vertical div {
    border: 1px solid #404040;
}

div.cm-overlayscroll-horizontal div {
    border: 1px solid #404040;
}
