/* mode: dark */
/*
  Name:       lucario
  Author:     Raphael Amorim

  Original Lucario color scheme (https://github.com/raphamorim/lucario)
*/

&,
.cm-gutters {
    background-color: #2b3e50 !important;
    color: #f8f8f2 !important;
    border: none;
}
.cm-gutters {
    color: #2b3e50;
}
.cm-cursor {
    border-left: solid thin #e6c845;
}
.cm-linenumber {
    color: #f8f8f2;
}
.cm-selectionBackground  {
    background: #243443 !important;
}
&.cm-focused .cm-selectionBackground{
    background: #243443 !important;
}
.cm-comment {
    color: #5c98cd;
}
.cm-string,
.cm-string-2 {
    color: #e6db74;
}
.cm-number {
    color: #ca94ff;
}
.cm-variable {
    color: #f8f8f2;
}
.cm-variable-2 {
    color: #f8f8f2;
}
.cm-def {
    color: #72c05d;
}
.cm-operator {
    color: #66d9ef;
}
.cm-keyword {
    color: #ff6541;
}
.cm-atom {
    color: #bd93f9;
}
.cm-meta {
    color: #f8f8f2;
}
.cm-tag {
    color: #ff6541;
}
.cm-attribute {
    color: #66d9ef;
}
.cm-qualifier {
    color: #72c05d;
}
.cm-property {
    color: #f8f8f2;
}
.cm-builtin {
    color: #72c05d;
}
.cm-variable-3,
.cm-type {
    color: #ffb86c;
}

.cm-activeLine {
    background: #243443;
}
.cm-matchingbracket {
    text-decoration: underline;
    color: white !important;
}
