/*
  Name:       material
  Author:     Mattia Astorino (http://github.com/equinusocio)
  Website:    https://material-theme.site/
*/

& {
  background-color: #292D3E;
  color: #A6ACCD;
}

 .cm-gutters {
  background: #292D3E;
  color: #676E95;
  border: none;
}

 .cm-gutterElement span,

 .cm-linenumber {
  color: #676E95;
}

 .cm-cursor {
  border-left: 1px solid #FC0;
}

.cm-fat-cursor .cm-cursor {
  background-color: #607c8b80 !important;
}

 .cm-animate-fat-cursor {
  background-color: #607c8b80 !important;
}

 div.cm-selected {
  background: rgb(113 124 180 / 20%);
}

.cm-focused div.cm-selected {
  background: rgb(113 124 180 / 20%);
}

 .cm-line::selection,
 .cm-line>span::selection,
 .cm-line>span>span::selection {
  background: rgb(128 203 196 / 20%);
}

 .cm-line::selection,
 .cm-line>span::selection,
 .cm-line>span>span::selection {
  background: rgb(128 203 196 / 20%);
}

 .cm-activeLine{
  background: rgb(0 0 0 / 50%);
}

 .cm-keyword {
  color: #C792EA;
}

 .cm-operator {
  color: #89DDFF;
}

 .cm-variable-2 {
  color: #EFF;
}

 .cm-variable-3,
 .cm-type {
  color: #f07178;
}

 .cm-builtin {
  color: #FFCB6B;
}

 .cm-atom {
  color: #F78C6C;
}

 .cm-number {
  color: #FF5370;
}

 .cm-def {
  color: #82AAFF;
}

 .cm-string {
  color: #C3E88D;
}

 .cm-string-2 {
  color: #f07178;
}

 .cm-comment {
  color: #676E95;
}

 .cm-variable {
  color: #f07178;
}

 .cm-tag {
  color: #FF5370;
}

 .cm-meta {
  color: #FFCB6B;
}

 .cm-attribute {
  color: #C792EA;
}

 .cm-property {
  color: #C792EA;
}

 .cm-qualifier {
  color: #DECB6B;
}

 .cm-variable-3,
 .cm-type {
  color: #DECB6B;
}


 .cm-error {
  color: rgb(255 255 255 / 100%);
  background-color: #FF5370;
}

 .cm-matchingbracket {
  text-decoration: underline;
  color: white !important;
}
