/* mode: dark */
/* Based on the theme at http://bonsaiden.github.com/JavaScript-Garden */

/* \3c !--activeline--> */
.cm-activeLine {
    background: #253540;
}

& {
    background: #0f192a;
    color: #d1edff;
}

div.cm-selected {
    background: #314d67;
}
.cm-line::selection,
.cm-line > span::selection,
.cm-line > span > span::selection {
    background: rgb(49 77 103 / 99%);
}
.cm-line::selection,
.cm-line > span::selection,
.cm-line > span > span::selection {
    background: rgb(49 77 103 / 99%);
}
.cm-gutters {
    background: #0f192a;
    border-right: 1px solid;
}
.cm-gutterElement span {
    color: white;
}

.cm-linenumber {
    color: #d0d0d0;
}
.cm-cursor {
    border-left: 1px solid #f8f8f0;
}

.cm-comment {
    color: #428bdd;
}
.cm-atom {
    color: #ae81ff;
}
.cm-number {
    color: #d1edff;
}

.cm-property,
.cm-attribute {
    color: #a6e22e;
}
.cm-keyword {
    color: #e83737;
}
.cm-string {
    color: #1dc116;
}

.cm-variable {
    color: #ffaa3e;
}
.cm-variable-2 {
    color: #ffaa3e;
}
.cm-def {
    color: #4dd;
}
.cm-bracket {
    color: #d1edff;
}
.cm-tag {
    color: #449;
}
.cm-link {
    color: #ae81ff;
}
.cm-error {
    background: #f92672;
    color: #f8f8f0;
}

.cm-matchingbracket {
    text-decoration: underline;
    color: white !important;
}
