/*
  Name:       Moxer Theme
  Author:     Mattia Astorino (http://github.com/equinusocio)
  Website:    https://github.com/moxer-theme/moxer-code
*/

& {
  background-color: #090A0F;
  color: #8E95B4;
  line-height: 1.8;
}

 .cm-gutters {
  background: #090A0F;
  color: #35394B;
  border: none;
}

 .cm-gutterElement span,

 .cm-linenumber {
  color: #35394B;
}


 .cm-cursor {
  border-left: 1px solid #FC0;
}

 div.cm-selected {
  background: rgb(128 203 196 / 20%);
}

.cm-focused div.cm-selected {
  background: #212431;
}

 .cm-line::selection,
 .cm-line>span::selection,
 .cm-line>span>span::selection {
  background: #212431;
}

 .cm-line::selection,
 .cm-line>span::selection,
 .cm-line>span>span::selection {
  background: #212431;
}

 .cm-activeline-background,
 .cm-activeline-gutter .cm-linenumber {
  background: rgb(33 36 49 / 50%);
}

 .cm-keyword {
  color: #D46C6C;
}

 .cm-operator {
  color: #D46C6C;
}

 .cm-variable-2 {
  color: #81C5DA;
}


 .cm-variable-3,
 .cm-type {
  color: #f07178;
}

 .cm-builtin {
  color: #FFCB6B;
}

 .cm-atom {
  color: #A99BE2;
}

 .cm-number {
  color: #7CA4C0;
}

 .cm-def {
  color: #F5DFA5;
}

 .cm-line .cm-def ~ .cm-def {
  color: #81C5DA;
}

 .cm-string {
  color: #B2E4AE;
}

 .cm-string-2 {
  color: #f07178;
}

 .cm-comment {
  color: #3F445A;
}

 .cm-variable {
  color: #8E95B4;
}

 .cm-tag {
  color: #FF5370;
}

 .cm-meta {
  color: #FFCB6B;
}

 .cm-attribute {
  color: #C792EA;
}

 .cm-property {
  color: #81C5DA;
}

 .cm-qualifier {
  color: #DECB6B;
}

 .cm-variable-3,
 .cm-type {
  color: #DECB6B;
}


 .cm-error {
  color: rgb(255 255 255 / 100%);
  background-color: #FF5370;
}

 .cm-matchingbracket {
  text-decoration: underline;
  color: white !important;
}