/* mode: dark */
/*

    Name:       oceanic-next
    Author:     Filype Pereira (https://github.com/fpereira1)

    Original oceanic-next color scheme by Dmitri Voronianski (https://github.com/voronianski/oceanic-next-color-scheme)

*/

& {
    background: #304148;
    color: #f8f8f2;
}
.cm-selectionBackground  {
    background: rgb(101 115 126 / 33%) !important;
}
&.cm-focused .cm-selectionBackground{
    background: rgb(101 115 126 / 33%) !important;
}
.cm-gutters {
    background: #304148;
    border-right: 10px;
}
.cm-gutterElement span {
    color: white;
}

.cm-linenumber {
    color: #d0d0d0;
}
.cm-cursor {
    border-left: 1px solid #f8f8f0;
}
.cm-fat-cursor .cm-cursor {
    background-color: #a2a8a175 !important;
}
.cm-animate-fat-cursor {
    background-color: #a2a8a175 !important;
}

.cm-comment {
    color: #65737e;
}
.cm-atom {
    color: #c594c5;
}
.cm-number {
    color: #f99157;
}

.cm-property {
    color: #99c794;
}

.cm-attribute,
.cm-keyword {
    color: #c594c5;
}
.cm-builtin {
    color: #66d9ef;
}
.cm-string {
    color: #99c794;
}

.cm-variable,
.cm-variable-2,
.cm-variable-3 {
    color: #f8f8f2;
}
.cm-def {
    color: #69c;
}
.cm-bracket {
    color: #5fb3b3;
}
.cm-tag {
    color: #c594c5;
}
.cm-header {
    color: #c594c5;
}
.cm-link {
    color: #c594c5;
}
.cm-error {
    background: #c594c5;
    color: #f8f8f0;
}

.cm-activeLine {
    background: #65737e54;
}

.cm-matchingbracket {
    text-decoration: underline;
    color: white !important;
}
