/*
	Name:       Panda Syntax
	Author:     Siamak Mokhtari (http://github.com/siamak/)
	CodeMirror template by Siamak Mokhtari (https://github.com/siamak/atom-panda-syntax)
*/
& {
    background: #292a2b;
    color: #e6e6e6;
    line-height: 1.5;
    font-family:
        "Operator Mono", "Source Code Pro", Menlo, Monaco, Consolas,
        "Courier New", monospace;
}
.cm-cursor {
    border-color: #ff2c6d;
}

.cm-activeLine {
    background: rgb(99 123 156 / 10%);
}

.cm-selected {
    background: #fff;
}

.cm-comment {
    font-style: italic;
    color: #676b79;
}

.cm-operator {
    color: #f3f3f3;
}

.cm-string {
    color: #19f9d8;
}

.cm-string-2 {
    color: #ffb86c;
}

.cm-tag {
    color: #ff2c6d;
}

.cm-meta {
    color: #b084eb;
}

.cm-number {
    color: #ffb86c;
}

.cm-atom {
    color: #ff2c6d;
}

.cm-keyword {
    color: #ff75b5;
}

.cm-variable {
    color: #ffb86c;
}

.cm-variable-2 {
    color: #ff9ac1;
}

.cm-variable-3,
.cm-type {
    color: #ff9ac1;
}

.cm-def {
    color: #e6e6e6;
}

.cm-property {
    color: #f3f3f3;
}

.cm-unit {
    color: #ffb86c;
}

.cm-attribute {
    color: #ffb86c;
}

.cm-matchingbracket {
    border-bottom: 1px dotted #19f9d8;
    padding-bottom: 2px;
    color: #e6e6e6;
}

.cm-gutters {
    background: #292a2b;
    border-right-color: rgb(255 255 255 / 10%);
}

.cm-linenumber {
    color: #e6e6e6;
    opacity: 0.6;
}
