/* mode: dark */
/*

    Name:       Paraíso (Dark)
    Author:     Jan T. Sott

    Color scheme by Jan T. Sott (https://github.com/idleberg/Paraiso-CodeMirror)
    Inspired by the art of Rubens LP (http://www.rubenslp.com.br)

*/

& {
    background: #2f1e2e;
    color: #b9b6b0;
}
div.cm-selected {
    background: #41323f;
}
.cm-line::selection,
.cm-line > span::selection,
.cm-line > span > span::selection {
    background: rgb(65 50 63 / 99%);
}
.cm-line::selection,
.cm-line > span::selection,
.cm-line > span > span::selection {
    background: rgb(65 50 63 / 99%);
}
.cm-gutters {
    background: #2f1e2e;
    border-right: 0;
}
.cm-gutterElement span {
    color: #ef6155;
}

.cm-linenumber {
    color: #776e71;
}
.cm-cursor {
    border-left: 1px solid #8d8687;
}

.cm-comment {
    color: #e96ba8;
}
.cm-atom {
    color: #815ba4;
}
.cm-number {
    color: #815ba4;
}

.cm-property,
.cm-attribute {
    color: #48b685;
}
.cm-keyword {
    color: #ef6155;
}
.cm-string {
    color: #fec418;
}

.cm-variable {
    color: #48b685;
}
.cm-variable-2 {
    color: #06b6ef;
}
.cm-def {
    color: #f99b15;
}
.cm-bracket {
    color: #b9b6b0;
}
.cm-tag {
    color: #ef6155;
}
.cm-link {
    color: #815ba4;
}
.cm-error {
    background: #ef6155;
    color: #8d8687;
}

.cm-activeLine {
    background: #4d344a;
}
.cm-matchingbracket {
    text-decoration: underline;
    color: white !important;
}
