/* mode: dark */
& {
    background: #112435;
    color: white;
}
.cm-selectionBackground  {
    background: #38566f !important;
}
&.cm-focused .cm-selectionBackground{
    background: rgb(56 86 111 / 99%) !important;
}
.cm-gutters {
    background: #1f4661;
    border-right: 7px solid #3e7087;
}
.cm-gutterElement span {
    color: white;
}

.cm-linenumber {
    color: white;
}
.cm-cursor {
    border-left: 1px solid white;
}

.cm-comment {
    color: #999;
    font-style: italic;
    line-height: 1em;
}
.cm-atom {
    color: #f4c20b;
}
.cm-number,
.cm-attribute {
    color: #82c6e0;
}
.cm-keyword {
    color: #f0f;
}
.cm-string {
    color: #f08047;
}
.cm-meta {
    color: #f0f;
}
.cm-variable-2,
.cm-tag {
    color: #7bd827;
}
.cm-variable-3,
.cm-def,
.cm-type {
    color: white;
}
.cm-bracket {
    color: #f0f;
}
.cm-link {
    color: #f4c20b;
}
.cm-matchingbracket {
    color: #f0f !important;
}
.cm-builtin,
.cm-special {
    color: #ff9d00;
}
.cm-error {
    color: #af2018;
}

.cm-activeLine {
    background: #173047;
}
