/* mode: dark */
/*

    Name:       shadowfox
    Author:     overdodactyl (http://github.com/overdodactyl)

    Original shadowfox color scheme by Firefox

*/

& {
    background: #2a2a2e;
    color: #b1b1b3;
}
.cm-selectionBackground  {
    background: #353b48 !important;
}
.cm-focused .cm-selectionBackground {
    background: #353b48 !important;
}
.cm-gutters {
    background: #0c0c0d;
    border-right: 1px solid #0c0c0d;
}
.cm-gutterElement span {
    color: #555;
}
.cm-linenumber {
    color: #939393;
}
.cm-cursor {
    border-left: 1px solid #fff;
}

.cm-comment {
    color: #939393;
}
.cm-atom {
    color: #ff7de9;
}
.cm-quote {
    color: #ff7de9;
}
.cm-builtin {
    color: #ff7de9;
}
.cm-attribute {
    color: #ff7de9;
}
.cm-keyword {
    color: #ff7de9;
}
.cm-error {
    color: #ff7de9;
}

.cm-number {
    color: #6b89ff;
}
.cm-string {
    color: #6b89ff;
}
.cm-string-2 {
    color: #6b89ff;
}

.cm-meta {
    color: #939393;
}
.cm-hr {
    color: #939393;
}

.cm-header {
    color: #75bfff;
}
.cm-qualifier {
    color: #75bfff;
}
.cm-variable-2 {
    color: #75bfff;
}

.cm-property {
    color: #86de74;
}

.cm-def {
    color: #75bfff;
}
.cm-bracket {
    color: #75bfff;
}
.cm-tag {
    color: #75bfff;
}
.cm-link:visited {
    color: #75bfff;
}

.cm-variable {
    color: #b98eff;
}
.cm-variable-3 {
    color: #d7d7db;
}
.cm-link {
    color: #737373;
}
.cm-operator {
    color: #b1b1b3;
}
.cm-special {
    color: #d7d7db;
}

.cm-activeLine {
    background: rgb(185 215 253 / 15%);
}
.cm-matchingbracket {
    outline: solid 1px rgb(255 255 255 / 25%);
    color: white !important;
}
