.cm-quote {
    color: #090;
}
.cm-negative {
    color: #d44;
}
.cm-positive {
    color: #292;
}
.cm-header,
.cm-strong {
    font-weight: bold;
}
.cm-em {
    font-style: italic;
}
.cm-link {
    text-decoration: underline;
}
.cm-strikethrough {
    text-decoration: line-through;
}
.cm-header {
    color: #00f;
    font-weight: bold;
}

.cm-atom {
    color: #219;
}
.cm-attribute {
    color: #00c;
}
.cm-bracket {
    color: #997;
}
.cm-comment {
    color: #333;
}
.cm-def {
    color: #00f;
}
.cm-em {
    font-style: italic;
}
.cm-error {
    color: #f00;
}
.cm-hr {
    color: #999;
}
.cm-invalidchar {
    color: #f00;
}
.cm-keyword {
    font-weight: bold;
}
.cm-link {
    color: #00c;
    text-decoration: underline;
}
.cm-meta {
    color: #555;
}
.cm-negative {
    color: #d44;
}
.cm-positive {
    color: #292;
}
.cm-qualifier {
    color: #555;
}
.cm-strikethrough {
    text-decoration: line-through;
}
.cm-string {
    color: #006400;
}
.cm-string-2 {
    color: #f50;
}
.cm-strong {
    font-weight: bold;
}
.cm-tag {
    color: #170;
}
.cm-variable {
    color: #8b2252;
}
.cm-variable-2 {
    color: #05a;
}
.cm-variable-3,
.cm-type {
    color: #085;
}

.cm-invalidchar {
    color: #f00;
}

/* ASN */
.cm-accessTypes,
.cm-compareTypes {
    color: #27408b;
}
.cm-cmipVerbs {
    color: #8b2252;
}
.cm-modifier {
    color: #d2691e;
}
.cm-status {
    color: #8b4545;
}
.cm-storage {
    color: #a020f0;
}
.cm-tags {
    color: #006400;
}

/* CFG */
.cm-externalCommands {
    color: #8b4545;
    font-weight: bold;
}

.cm-fileNCtrlMaskOptions,
.cm-sectionTitle {
    color: #2e8b57;
    font-weight: bold;
}

/* TTCN */
.cm-booleanConsts,
.cm-otherConsts,
.cm-verdictConsts {
    color: #006400;
}

.cm-configOps,
.cm-functionOps,
.cm-portOps,
.cm-sutOps,
.cm-timerOps,
.cm-verdictOps {
    color: #00f;
}

.cm-preprocessor,
.cm-templateMatch,
.cm-ttcn3Macros {
    color: #27408b;
}
.cm-types {
    color: #a52a2a;
    font-weight: bold;
}
.cm-visibilityModifiers {
    font-weight: bold;
}
