/* Taken from the popular Visual Studio Vibrant Ink Schema */

& { background: black; color: white; }
 div.cm-selected { background: #35493c; }
 .cm-line::selection,  .cm-line > span::selection,  .cm-line > span > span::selection { background: rgb(53 73 60 / 99%); }
 .cm-line::selection,  .cm-line > span::selection,  .cm-line > span > span::selection { background: rgb(53 73 60 / 99%); }

 .cm-gutters { background: #002240; border-right: 1px solid #aaa; }
 .cm-gutterElement span { color: white; }
 
 .cm-linenumber { color: #d0d0d0; }
 .cm-cursor { border-left: 1px solid white; }

 .cm-keyword { color: #CC7832; }
 .cm-atom { color: #FC0; }
 .cm-number { color:  #FFEE98; }
 .cm-def { color: #8DA6CE; }
 .cm-variable-2,  .cm-tag { color: #FFC66D; }
 .cm-variable-3,  .cm-def,  .cm-type { color: #FFC66D; }
 .cm-operator { color: #888; }
 .cm-comment { color: gray; font-weight: bold; }
 .cm-string { color:  #A5C25C; }
 .cm-string-2 { color: red; }
 .cm-meta { color: #D8FA3C; }
 .cm-builtin { color: #8DA6CE; }
 .cm-tag { color: #8DA6CE; }
 .cm-attribute { color: #8DA6CE; }
 .cm-header { color: #FF6400; }
 .cm-hr { color: #AEAEAE; }
 .cm-link { color: #5656F3; }
 .cm-error { border-bottom: 1px solid red; }

 .cm-activeLine{ background: #27282E; }
 .cm-matchingbracket { outline:1px solid grey; color:white !important; }
