/* mode: dark */
/* Taken from the popular Visual Studio Vibrant Ink Schema */

& {
    background: black;
    color: white;
}
.cm-selectionBackground  {
    background: #35493c !important;
}
&.cm-focused .cm-selectionBackground{
    background: rgb(53 73 60 / 99%) !important;
}

.cm-gutters {
    background: #002240;
    border-right: 1px solid #aaa;
}
.cm-gutterElement span {
    color: white;
}

.cm-linenumber {
    color: #d0d0d0;
}
.cm-cursor {
    border-left: 1px solid white;
}

.cm-keyword {
    color: #cc7832;
}
.cm-atom {
    color: #fc0;
}
.cm-number {
    color: #ffee98;
}
.cm-def {
    color: #8da6ce;
}
.cm-variable-2,
.cm-tag {
    color: #ffc66d;
}
.cm-variable-3,
.cm-def,
.cm-type {
    color: #ffc66d;
}
.cm-operator {
    color: #888;
}
.cm-comment {
    color: gray;
    font-weight: bold;
}
.cm-string {
    color: #a5c25c;
}
.cm-string-2 {
    color: red;
}
.cm-meta {
    color: #d8fa3c;
}
.cm-builtin {
    color: #8da6ce;
}
.cm-tag {
    color: #8da6ce;
}
.cm-attribute {
    color: #8da6ce;
}
.cm-header {
    color: #ff6400;
}
.cm-hr {
    color: #aeaeae;
}
.cm-link {
    color: #5656f3;
}
.cm-error {
    border-bottom: 1px solid red;
}

.cm-activeLine {
    background: #27282e;
}
.cm-matchingbracket {
    outline: 1px solid grey;
    color: white !important;
}
