/* mode: dark */
/*

    Name:       yoncé
    Author:     Thomas MacLean (http://github.com/thomasmaclean)

    Original yoncé color scheme by Mina Markham (https://github.com/minamarkham)

*/

& {
    background: #1c1c1c;
    color: #d4d4d4;
} /*  */
.cm-selectionBackground  {
    background: rgb(252 69 133 / 47.8%);
} /*  */
.cm-selectionBackground,
&.cm-focused .cm-selectionBackground{
    background: rgb(252 67 132 / 47%) !important;
}

& pre {
    padding-left: 0;
}
.cm-gutters {
    background: #1c1c1c;
    border-right: 0;
}
.cm-linenumber {
    color: #777;
    padding-right: 10px;
}
.cm-activeline .cm-linenumber.cm-gutter-elt {
    background: #1c1c1c;
    color: #fc4384;
}
.cm-linenumber {
    color: #777;
}
.cm-cursor {
    border-left: 2px solid #fc4384;
}
.cm-searching {
    background: rgb(243 155 53 / 30%) !important;
    outline: 1px solid #f39b35;
}
.cm-searching.cm-selectionBackground {
    background: rgb(243 155 53 / 70%) !important;
    color: white;
}

.cm-keyword {
    color: #00a7aa;
} /*  */
.cm-atom {
    color: #f39b35;
}
.cm-number,
.cm-type {
    color: #a06fca;
} /*  */
.cm-def {
    color: #98e342;
}

.cm-property,
.cm-variable {
    color: #d4d4d4;
    font-style: italic;
}
.cm-variable-2 {
    color: #da7dae;
    font-style: italic;
}
.cm-variable-3 {
    color: #a06fca;
}
.cm-type.cm-def {
    color: #fc4384;
    font-style: normal;
    text-decoration: underline;
}
.cm-property.cm-def {
    color: #fc4384;
    font-style: normal;
}
.cm-callee {
    color: #fc4384;
    font-style: normal;
}
.cm-operator {
    color: #fc4384;
} /*  */
.cm-qualifier,
.cm-tag {
    color: #fc4384;
}
.cm-tag.cm-bracket {
    color: #d4d4d4;
}
.cm-attribute {
    color: #a06fca;
}
.cm-comment {
    color: #696d70;
    font-style: italic;
    font-weight: normal;
} /*  */
.cm-comment.cm-tag {
    color: #fc4384;
}
.cm-comment.cm-attribute {
    color: #d4d4d4;
}
.cm-string {
    color: #e6db74;
} /*  */
.cm-string-2 {
    color: #f39b35;
} /* ? */
.cm-meta {
    color: #d4d4d4;
    background: inherit;
}
.cm-builtin {
    color: #fc4384;
} /* ? */
.cm-header {
    color: #da7dae;
}
.cm-hr {
    color: #98e342;
}
.cm-link {
    color: #696d70;
    font-style: italic;
    text-decoration: none;
} /*  */
.cm-error {
    border-bottom: 1px solid #c42412;
}

.cm-activeLine {
    background: #27272733;
}
.cm-matchingbracket {
    outline: 1px solid grey;
    color: #d4d4d4 !important;
}
